.escenario {
    border: 1px solid black;
    width: 816px;
    margin: 0 auto;
    height: 768px;
    background-image: url(../images/fondo.jpg);
    background-position: 0px 0px;
    transition: 0.2s;
    position: relative;
}

#runner {
    position: absolute;
    bottom: 30px;
    left: 100px;
}